aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.4
-e git+https://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@github.com/drftrcld/pokemonCardUi.git@b5bff0a9b86a2197467967e21131f78f55918966#egg=DatabaseImageMatching&subdirectory=DatabaseImageMatchingLibrary
-e git+https://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@github.com/drftrcld/pokemonCardUi.git@b5bff0a9b86a2197467967e21131f78f55918966#egg=demoUI&subdirectory=demoUI
evdev==1.6.0
Flask==2.3.2
frozenlist==1.3.3
idna==3.4
image==1.5.33
itsdangerous==2.1.2
Jinja2==3.1.2
keyboard==0.13.5
MarkupSafe==2.1.1
multidict==6.0.4
numpy==1.25.0
opencv-python==4.5.5.64
pandas==1.4.2
Pillow==9.5.0
pycparser==2.21
pynput==1.7.6
python-dateutil==2.8.2
python-xlib==0.32
pytz==2022.1
requests==2.31.0
SimulRPi==0.1.0a1
six==1.16.0
sqlparse==0.4.4
urllib3==2.0.4
Werkzeug==2.3.6
yarl==1.9.2
